<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Disapearing Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>

        
        <img src="{{img_source}}" alt="">
        <br>
        
        <a href ="/ninja/purple"> Purple<a>
        <a href ="/ninja/orange"> Orange<a>
        <a href ="/ninja/blue"> Blue<a>
        <a href ="/ninja/red"> Red<a> 
        <a href ="/ninja"> All<a>    
    
                
    </body>
</html>