<!DOCTYPE html>
<html>

<head>
    <title>Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'basic/basic.css' %}">
</head>

<body>
    <div class="user_quotes" style="border:4px solid blue">
        <p>
            <a href='/success'>Dashboard</a> |
            <a href='/logout'>Logout</a>
        </p>
        <h1>Posts by {{ user.first_name }}</h1>
        <p>#: {{ count }}</p>
        {% if quotes %} {% for quote in quotes %}
        <p>
            <strong>{{ quote.author }}</strong>: {{ quote.content }}</p>
            <hr>
        {% endfor %} {% endif %}

    </div>
</body>

</html>