<!Doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width">
    <link href="css/stylesheets.css" rel="stylesheet">
  </head>
  <body>
    <h1><p>Wins: {{session['wins']}}</p>
    <p>Losses: {{session['losses']}}</p>
    <p>Ties: {{session['ties']}}</p></h1>
    <a href="/rock"><button type"">Rock</button></a>
    <a href="/paper"><button type"">Paper</button></a>
    <a href="scissors"><button type"">Scissors</button></a>
  </body>
</html>
