h1 {
    color: red;
}
h3 {
    color: yellow;
}

.container {
    height: 900px;
    width: 900px;
    background: lightgray;
}

.form_contain {
    height: 300px;
    width: 900px;
    background: purple;
    
}

